


:root {
	--red: #DD352C;
	--orange: #E07410;
	--green: #2A923C;
	--indigo: #6F29E0;
	--black: #080808;
	--dgrey: #1E1E1E;
	--grey: #2C2C2C;
	--lgrey: #9E9E9E;
	--white: #EEEEEE;



* {
	padding: 0px;
	margin: 0px;
	color: var(---white);
}


body{
	background-color: var(--white);
	font-family: "Roboto Mono", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 50px;
    text-align: center;

}
.content {
	width: 50vw;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px var(--lgrey);
}



nav{
	margin-bottom: 10px;
}

nav ul {
	list-style: none;
	background: var(--white);
	box-shadow: 0px 0px 10px var(--lgrey);

}

nav ul li {
	display: inline-block;
	position: relative;
}

nav ul li a {
	display: block;
	padding: 20px 25px;
	color: var(--black);
	text-decoration: none;
	text-align: centre;
	font-size: 20px;
}

nav ul li ul.dropdown li {
	display: block;

}

nav ul li ul.dropdown {
	min-width:100%;
	width: fit-content;
	background: var(--white);
	position: absolute;
	z-index: 999;
	display:none;

}

nav ul li a:hover {
	color: var(--black);
	background-color: var(--orange);
	transition: background-color 300ms;
}

nav ul li:hover ul.dropdown {;
	display: block;
}





h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(---black);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(---black);
}


img {
	max-width: 100%;
}


